{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="df-title">Kajian</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-row">

                <div class="form-group col-lg-6">
                    {% for i in form %}
                        <label for="formGroupExampleInput" class="d-block">{{ i.label }}</label>
                        {{ i }}
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-secondary" type="cancel">Cancel</button>
        </form>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
<script src="{% static 'lib/prismjs/prism.js' %}"></script>
<script>
$('.select2').select2({
  placeholder: 'Choose one',
  searchInputPlaceholder: 'Search options'
});
</script>
{% endblock %}
