{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}
{% block css %}
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block navbar-menu-header %}
    <ul class="nav navbar-menu">

    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="df-title">Detail Kajian {{ object.name }}</h1>
        <div class="col-md">
            {% if request.user|has_group:"Pimpinan" %}
            {% elif request.user|has_group:"Pelaksana" %}
                <p>
                    <a class="btn btn-primary" href="{% url 'kajian:kajian_tambah_progres' object.id %}">Tambah Progres
                        Kajian</a>
                </p>
            {% endif %}
        </div>

        <div class="col-lg">
            <table class="table table-striped table-hover table-primary">
                <tbody>

                <tr>
                    <td width="200">Nama Kajian</td>
                    <td width="5">:</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td width="200">Penanggung Jawab Kajian</td>
                    <td width="5">:</td>
                    <td>{{ object.pj_kajian }}</td>
                </tr>
                <tr>
                    <td width="200">Anggota kajian</td>
                    <td width="5">:</td>
                    <td>
                        <ul>
                            {% for i in object.anggota.all %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td width="200">Abstrak</td>
                    <td width="5">:</td>
                    <td>{{ object.abstrak }}</td>
                </tr>

                <tr>
                    <td width="200">Uraian Singkat</td>
                    <td width="5">:</td>
                    <td>{{ object.uraian_singkat }}</td>
                </tr>
                <tr>
                    <td width="200">File</td>
                    <td width="5">:</td>
                    <td>
                        {% if object.file %}
                            <a href="{{ object.file.url }}">File</a>
                            {#                            <embed src="{{ object.file.url }}" type="application/pdf" width="100%" height="100%">#}
                        {% else %}
                            <p>belum upload</p>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>


        </div>

        <div class="col-lg">
            <h1 class="df-title">Progres Kajian {{ object.name }}</h1>
            {% if object.progreskajian_set.all %}
                <div id="accordion2" class="accordion">
                    {% for i in object.progreskajian_set.all %}
                        <h6 class="accordion-title">{{ i.name }}</h6>
                        <div class="accordion-body">
                            <div class="col-lg">
                                <a href="{% url 'kajian:kajian_edit_progres' i.id %}" class="btn btn-info btn-edit"
                                   id="edit">
                                    Edit
                                </a>

                                <a href="{% url 'kajian:kajian_delete_progres' i.id %}" class="btn btn-danger"
                                   data-toggle="modal"
                                   data-target="#delete-item-modal"
                                   id="delete-item"
                                >
                                    Delete
                                </a>

                                <table class="table table-striped table-hover table-primary">
                                    <tbody>
                                    <tr>
                                        <td width="200">Judul Progres</td>
                                        <td width="5">:</td>
                                        <td>{{ i.name }}</td>
                                    </tr>
                                    <tr>
                                        <td width="200">Isi Progres</td>
                                        <td width="5">:</td>
                                        <td>{{ i.progres }}</td>
                                    </tr>
                                    <tr>
                                        <td width="200">File Progres</td>
                                        <td width="5">:</td>
                                        <td>
                                            {% if i.file %}
                                                <a href="{{ i.file.url }}">File</a>
                                            {% else %}
                                                <p>belum upload</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Belum ada Progres</p>
            {% endif %}
        </div>
        <footer class="content-footer">
            <div>
                <span>&copy; 2019 DashForge v1.0.0. </span>
                <span>Made by <a href="http://themepixels.me">ThemePixels</a></span>
            </div>
            <div>
                <nav class="nav">
                    <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                    <a href="../change-log.html" class="nav-link">Change Log</a>
                    <a href="https://discordapp.com/invite/RYqkVuw" class="nav-link">Get Help</a>
                </nav>
            </div>
        </footer><!-- content-footer -->

    </div><!-- container -->

    <div class="modal fade" id="delete-item-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure, You want to remove this item?</p>
                </div>
                <div class="justify-content-between mb-2 mr-2 text-right">
                    <form method="post"
                          id="item-delete-form"
                    >
                        <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancel</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" id="confirm-delete-item-button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="{% static 'lib/jqueryui/jquery-ui.min.js' %}"></script>
    <script>
        $(function () {
            'use strict'


            // Collapse content
            $('#accordion2').accordion({
                heightStyle: 'content',
                collapsible: true
            });
        });

        $(document).on('click', '#delete-item', () => {
            document.getElementById("item-delete-form").action = document.querySelector('#delete-item').href
        });
    </script>

{% endblock %}


