{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container">
        <h1>Halaman Analisis Data</h1>
        {% csrf_token %}
        <div data-label="Example" class="df-example demo-table">
            <table id="example4" class="table">
                <thead>
                <tr>
                    <th class="wd-20p">Label Data</th>
                    <th class="wd-20p">Data</th>
                    <th class="wd-20p">Variabel</th>
                    <th class="wd-25p">Aksi</th>

                </tr>
                </thead>
            </table>
        </div><!-- df-example -->

        <br>

        <div class="df-example demo-table">
            <form method="post" id="kolom-form" action="#">
                <div class="form-group">
                                                <label for="tahun">Pilih Tahun:</label>
                                                <select id="tahun" class="form-control"></select>
                    <label for="bulan">Pilih Bulan/Turunan Tahun:</label>
                    <select id="bulan" class="form-control" name="bulan"></select>
                    <label for="vervar">Pilih Vervar:</label>
                    <select id="vervar" class="form-control" name="vervar"></select>
                    <label for="karakteristik">Pilih karakteristik:</label>
                    <select id="karakteristik" class="form-control" name="karakteristik"></select>
                    <input type="hidden" name="id_data" id="id_data">
                </div>
                <button class="btn btn-primary" type="submit" id="kolom-button">Submit</button>
            </form>

        </div>
        {#        <div class="df-example demo-table">#}
        {#            <form method="post" id="kolom-form" action="#">#}
        {#                <div class="form-group">#}
        {#                    <label for="tahun">Pilih Tahun:</label>#}
        {#                    <input type="checkbox" id="tahun" class="form-control" name="checkbox" value="tahun">#}
        {##}
        {#                    <label for="bulan">Pilih Bulan/Turunan Tahun:</label>#}
        {#                    <input type="checkbox" id="bulan" class="form-control" name="checkbox" value="bulan">#}
        {##}
        {#                    <label for="vervar">Pilih Vervar:</label>#}
        {#                    <input type="checkbox" id="vervar" class="form-control" name="checkbox" value="vervar">#}
        {##}
        {#                    <label for="karakteristik">Pilih karakteristik:</label>#}
        {#                    <input type="checkbox" id="karakteristik" class="form-control" name="checkbox"#}
        {#                           value="karakteristik">#}
        {##}
        {#                    <input type="hidden" name="id_data" id="id_data">#}
        {#                </div>#}
        {#                <button class="btn btn-primary" type="submit" id="kolom-button">Submit</button>#}
        {#            </form>#}
        {#        </div>#}


        <div data-label="Hasil Prediksi" class="df-example demo-table">
            <div id="plotly-figure"></div>
        </div>

    </div>
{% endblock %}




{% block js %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="{% static 'lib/prismjs/prism.js' %}"></script>
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/jqueryui/jquery-ui.min.js' %}"></script>


    <script type="text/javascript">
        $(function () {
            'use strict'
            $('#example4').DataTable({
                'ajax': '{% url "data:get_data_home" %}',
                'responsive': true,
                "dataSrc": "",
                "columns": [
                    {
                        "data": "label_var",
                        render: function (data, type, row) {
                            return '<span style="white-space:normal">' + data + "</span>";
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            var idString = data.toString();
                            return '<button class="btn btn-outline-primary btn-data-id" data-id="' + idString + '">Lihat Data</input>';
                        }
                    },
                    {
                        "data": "data_data",
                        render: function (data, type, row) {
                            return '<span style="white-space:normal">' + data['var'][0]['label'] + "</span>";
                        }
                    },
                    {"data": "id"}
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });

        });
        $('#kolom-form').submit(function (event) {
            event.preventDefault(); // hindari form submit secara normal
            var id_data = $('#id_data').val();
            /*
            var checkboxes = $('input[name="checkbox"]:checked').map(function () {
                return $(this).val();
            }).get();
            console.log(checkboxes)
             */

            var tahun = $("#tahun").val();
            var bulan = $("#bulan").val();
            var vervar = $("#vervar").val();
            var karakteristik = $("#karakteristik").val();

            console.log(vervar)
            var data =
                {
                    id: id_data,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    tahun: tahun,
                    bulan: bulan,
                    vervar: vervar,
                    karakteristik: karakteristik
                    {#checkboxes:checkboxes#}

                }

            $.post("/data_get_predict/", data, function (response) {
                console.log(response.tabel)
                var figure_data = JSON.parse(response.plot);
                Plotly.newPlot('plotly-figure', figure_data.data, figure_data.layout);
            });

        });


        $(document).on('click', '.btn-data-id', function () {
            var id = $(this).data('id');
            $('#id_data').val(id);

            var data =
                {
                    id: id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()

                }


            $.post("/data_get_column/", data, function (response) {


                const kolom = response.kolom;
                const tahun = kolom.tahun
                const bulan = kolom.turtahun
                const vervar = kolom.vervar
                const karakteristik = kolom.turvar

                const tahun_dropdown = document.getElementById("tahun");
                const bulan_dropdown = document.getElementById("bulan");
                const vervar_dropdown = document.getElementById("vervar");
                const karakteristik_dropdown = document.getElementById("karakteristik");

                tahun_dropdown.innerHTML = '<option value="0">=======</option>';
                bulan_dropdown.innerHTML = '<option value="0">=======</option>';
                vervar_dropdown.innerHTML = '<option value="0">=======</option>';
                karakteristik_dropdown.innerHTML = '<option value="0">=======</option>';

                tahun.forEach(item => {
                    const option = document.createElement("option");
                    option.value = item.label;
                    option.text = item.label;
                    tahun_dropdown.add(option);
                })



                bulan.forEach(item => {
                    const option = document.createElement("option");
                    option.value = item.label;
                    option.text = item.label;
                    bulan_dropdown.add(option);
                })

                vervar.forEach(item => {
                    const option = document.createElement("option");
                    option.value = item.label;
                    option.text = item.label;
                    vervar_dropdown.add(option);
                })

                karakteristik.forEach(item => {
                    const option = document.createElement("option");
                    option.value = item.label;
                    option.text = item.label;
                    karakteristik_dropdown.add(option);
                })


            }, "json");


        })
    </script>
{% endblock %}


