{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div data-label="Data Dinamis" class="df-example demo-table">

            <form method="post" id="search-form">
                {% csrf_token %}
                {{ domain_form.as_p }}
                {{ subject_form.as_p }}
                <button type="submit" id="search-button" class="btn btn-primary">Cari</button>
            </form>
            <br>


            <table id="example4" class="table">
                <thead>
                <tr>
                    <th>Variabel</th>
                    <th>Aksi</th>
                </tr>
                </thead>
            </table>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <table id="turvar" class="table">
                        <thead>
                        <tr>
                            <th>Karakteristik</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="turth" class="table">
                        <thead>
                        <tr>
                            <th>Waktu</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>


        </div><!-- df-example -->
    </div>

{% endblock %}

{% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="{% static 'lib/prismjs/prism.js' %}"></script>
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/jqueryui/jquery-ui.min.js' %}"></script>
    <script>
        $(function () {
            'use strict'
            {#$('#search-form').serialize()#}

            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search options'
            });


            $("#id_subject").prop("disabled", true); // menonaktifkan select2 kedua saat halaman dimuat
            $('#search-button').hide();
            $('#example4').hide();
            $('#turvar').hide();



            $("#id_domain").change(function () { // menambahkan event change pada select2 pertama
                if ($(this).val() != "") { // jika select2 pertama dipilih
                    $("#id_subject").prop("disabled", false); // mengaktifkan select2 kedua
                } else {
                    $("#id_subject").prop("disabled", true); // menonaktifkan select2 kedua jika select2 pertama tidak dipilih
                    $('#id_subject').val('');
                }
            });

            $("#id_subject").change(function (event) {
                event.preventDefault(); // hindari form submit secara normal
                var domain = $('#id_domain').val();
                var subject = $('#id_subject').val();

                $('#example4').show();
                $('#turvar').show();
                $('#turth').show();

                $('#search-button').show();
                console.log(domain, subject)
                if ($.fn.DataTable.isDataTable('#example4')) {
                    $('#example4').DataTable().clear().destroy();
                }

                var table = $('#example4').DataTable({
                    ordering: false,
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/data_get_data/",
                        type: 'POST',
                        async: true,
                        data: {
                            "domain": domain,
                            "subject": subject,
                            "model": "var",
                            "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                        },
                        dataSrc: function (json) {
                            if (json.data === "no_data") {
                                // Tampilkan pesan jika data kosong
                                alert("Data tidak tersedia");
                                return [];
                            } else {
                                return json.data;
                            }
                        }
                    },
                    "columns": [
                        {
                            "data": "title",
                            render: function (data, type, row) {
                                return '<span style="white-space:normal">' + data + "</span>";
                            }
                        },

                        {
                            "data": "var_id",
                            "render": function (data, type, row, meta) {
                                var idString = data.toString(); // konversi data ke dalam bentuk string
                                var domainString = "'" + domain.toString() + "'"; // konversi domain ke dalam bentuk string dan tambahkan tanda kutip pada awal dan akhir
                                return '<a href="#" onclick="sendturvar(' + idString + ',' + domainString + '); sendturth(' + idString + ',' + domainString + ')">' + idString + '</a>';
                            }
                        },

                    ],

                })


            });


        });

        function sendturth(id_turvar, domain) {
            console.log(id_turvar, domain)
            if ($.fn.DataTable.isDataTable('#turth')) {
                $('#turth').DataTable().clear().destroy();
            }
            var table = $('#turth').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "turth",
                        "id_var": id_turvar,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "turth"
                    },

                    {
                        "data": "turth_id",
                        "render": function (data, type, row, meta) {
                            return '<a href="#">' + data + '</a>';
                        }
                    },

                ],

            })
        }

        function sendturvar(id_turvar, domain) {
            console.log(id_turvar, domain)
            if ($.fn.DataTable.isDataTable('#turvar')) {
                $('#turvar').DataTable().clear().destroy();
            }
            var table = $('#turvar').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "turvar",
                        "id_var": id_turvar,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "turvar"
                    },

                    {
                        "data": "turvar_id",
                        "render": function (data, type, row, meta) {
                            return '<a href="#">' + data + '</a>';
                        }
                    },

                ],

            })
        }


        function sendVervar(id_vervar, domain) {
            console.log(id_vervar, domain)
            if ($.fn.DataTable.isDataTable('#vervar')) {
                $('#vervar').DataTable().clear().destroy();
            }
            var table = $('#vervar').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "vervar",
                        "id_var": id_vervar,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "vervar"
                    },

                    {
                        "data": "kode_ver_id",
                        "render": function (data, type, row, meta) {
                            return '<a href="#">' + data + '</a>';
                        }
                    },

                ],

            })


        }
    </script>
{% endblock %}






