{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div data-label="Data Dinamis" class="df-example demo-table">


            {% csrf_token %}
            {{ domain_form.as_p }}
            {{ subject_form.as_p }}

            <br>
            <table id="example4" class="table">
                <thead>
                <tr>
                    <th>Variabel</th>
                    <th>Aksi</th>
                </tr>
                </thead>
            </table>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <table id="turvar" class="table">
                        <thead>
                        <tr>
                            <th>Karakteristik</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="th" class="table">
                        <thead>
                        <tr>
                            <th>Waktu</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <table id="vervar" class="table">
                        <thead>
                        <tr>
                            <th>Turunan</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-6">
                    <table id="turth" class="table">
                        <thead>
                        <tr>
                            <th>Turunan Tahun</th>
                            <th>Aksi</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <button type="button" id="search-button" class="btn btn-primary">Cari</button>
            <button type="button" id="reset-button" class="btn btn-primary">Reset data</button>
        </div>
        <div id="modal" class="modal fade bd-lg" id="projectModal" tabindex="-1" role="dialog"
             aria-labelledby="projectModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="projectModalLabel">Data </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">Save changes</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
    <script src="{% static 'lib/prismjs/prism.js' %}"></script>
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/jqueryui/jquery-ui.min.js' %}"></script>
    {#    <script src="{% static 'custom/data_dinamis.js' %}"></script>#}
    <script>
        var domain = "";
        var subject = "";
        var var_id = 0;
        var vervar_id = 0;
        var th_id = 0;
        var turth_id = 0;
        var turvar_id = 0;
        var table_var, table_turth, table_turvar, table_vervar, table_th;

        $(function () {
            'use strict'

            $('.select2').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search options'
            });


            $("#id_subject").prop("disabled", true); // menonaktifkan select2 kedua saat halaman dimuat
            $('#search-button').hide();
            $('#reset-button').hide();


            $("#id_domain").change(function () { // menambahkan event change pada select2 pertama
                if ($(this).val() != "") { // jika select2 pertama dipilih
                    $("#id_subject").prop("disabled", false); // mengaktifkan select2 kedua
                } else {
                    $("#id_subject").prop("disabled", true); // menonaktifkan select2 kedua jika select2 pertama tidak dipilih
                    $('#id_subject').val('');
                }
            });

            $("#id_subject").change(function (event) {
                event.preventDefault(); // hindari form submit secara normal
                domain = $('#id_domain').val();
                subject = $('#id_subject').val();

                $('#search-button').show();
                $('#reset-button').show();

                if ($.fn.DataTable.isDataTable('#example4')) {
                    table_var.clear().destroy();
                }
                /*
                if (table_var) {
                    table_var.ajax.reload();
                    return;
                }*/

                table_var = $('#example4').DataTable({
                    ordering: false,
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/data_get_data/",
                        type: 'POST',
                        async: true,
                        data: {
                            "domain": domain,
                            "subject": subject,
                            "model": "var",
                            "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                        },
                        dataSrc: function (json) {
                            if (json.data === "no_data") {
                                // Tampilkan pesan jika data kosong
                                alert("Data tidak tersedia");
                                return [];
                            } else {
                                return json.data;
                            }
                        }
                    },
                    "columns": [
                        {
                            "data": "title",
                            render: function (data, type, row) {
                                return '<span style="white-space:normal">' + data + "</span>";
                            }
                        },

                        {
                            "data": "var_id",
                            "render": function (data, type, row, meta) {
                                var idString = data.toString(); // konversi data ke dalam bentuk string
                                return '<button id="var_id" class="btn btn-outline-primary"  onclick="getDataTurVarTh(\'' + idString + '\');">' + idString + '</button>';
                            }
                        },

                    ],
                })
            });

            $("#reset-button").on('click', () => {
                $("#id_subject").prop("disabled", true); // menonaktifkan select2 kedua jika select2 pertama tidak dipilih
                $('#id_subject').val('');
                domain = "";
                subject = "";
                var_id = 0;
                vervar_id = 0;
                th_id = 0;
                turth_id = 0;
                turvar_id = 0;
                table_var.clear().destroy();
                table_vervar.clear().destroy();
                table_turth.clear().destroy();
                table_th.clear().destroy();
                table_turvar.clear().destroy();


            });
            $("#search-button").on('click', () => {
                console.log(
                    "search",
                    {
                        domain: domain,
                        subject: subject,
                        var_id: var_id,
                        th_id: th_id,
                        turvar_id: turvar_id,
                        turth_id: turth_id,
                        vervar_id: vervar_id,
                    }
                )

                var data = {
                    model: "data",
                    domain: domain,
                    subject: subject,
                    var_id: var_id,
                    th_id: th_id,
                    turvar_id: turvar_id,
                    turth_id: turth_id,
                    vervar_id: vervar_id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                };
                $.post("/data_get_data/", data, function (response) {
                    console.log(response)
                    /*
                    var modalBody = $("#modal .modal-body"); // Mendapatkan elemen body modal
                    modalBody.empty(); // Menghapus konten sebelumnya (jika ada)
                    modalBody.append("<p>" + response['labelvervar'] + "</p>");

                    $.each(response["datacontent"], function (key, value) {
                        // Menambahkan data ke dalam elemen body modal
                        modalBody.append("<p>" + key + ": " + value + "</p>");
                    });


                    $("#modal").modal("show");

                     */
                })
            });
        });

        function sendth() {
            if ($.fn.DataTable.isDataTable('#th')) {
                table_th.clear().destroy();
            }
            table_th = $('#th').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "th",
                        "id_var": var_id,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data tahun tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "th"
                    },

                    {
                        "data": "th_id",
                        "render": function (data, type, row, meta) {
                            var idString = data.toString(); // konversi data ke dalam bentuk string
                            return '<button class="btn btn-outline-primary btn-th-id" data-id="' + idString + '"> Pilih </button>';
                        }
                    },

                ],

            })
        }

        function sendturvar() {
            if ($.fn.DataTable.isDataTable('#turvar')) {
                table_turvar.clear().destroy();
            }
            table_turvar = $('#turvar').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "turvar",
                        "id_var": var_id,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data turunan variabel tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "turvar"
                    },

                    {
                        "data": "turvar_id",
                        "render": function (data, type, row, meta) {
                            var idString = data.toString(); // konversi data ke dalam bentuk string
                            return '<button class="btn btn-outline-primary btn-turvar-id" data-id="' + idString + '"> Pilih </button>';
                        }
                    },

                ],

            })
        }

        $(document).on('click', '.btn-th-id', function () {
            let id = $(this).data('id');
            th_id = id;
        })
        $(document).on('click', '.btn-turvar-id', function () {
            let id = $(this).data('id');
            turvar_id = id;
        })
        $(document).on('click', '.btn-turth-id', function () {
            let id = $(this).data('id');
            turth_id = id;
        })

        $(document).on('click', '.btn-vervar-id', function () {
            let id = $(this).data('id');
            vervar_id = id;
        })


        function getDataTurVarTh(id) {
            var_id = id;
            console.log('send', {domain: domain, subject: subject, var_id: var_id});
            // sendturth();
            sendturvar();
            sendth();
            sendturth();
            sendVervar();
        }


        function sendturth() {
            if (table_turth) {
                table_turth.ajax.reload();
                return;
            }
            table_turth = $('#turth').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "turth",
                        "id_var": var_id,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data turunan tahun tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "turth"
                    },

                    {
                        "data": "turth_id",
                        "render": function (data, type, row, meta) {
                            var idString = data.toString(); // konversi data ke dalam bentuk string
                            return '<button class="btn btn-outline-primary btn-turth-id" data-id="' + idString + '"> Pilih </button>';
                        }
                    },

                ],

            })
        }

        function sendVervar() {
            if (table_vervar) {
                table_vervar.ajax.reload();
                return;
            }
            table_vervar = $('#vervar').DataTable({
                ordering: false,
                responsive: true,
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/data_get_data/",
                    type: 'POST',
                    async: true,
                    data: {
                        "domain": domain,
                        "model": "vervar",
                        "id_var": var_id,
                        "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataSrc: function (json) {
                        if (json.data === "no_data") {
                            // Tampilkan pesan jika data kosong
                            alert("Data vertikal variabel tidak tersedia");
                            return [];
                        } else {
                            return json.data;
                        }
                    }
                },
                "columns": [
                    {
                        "data": "vervar"
                    },

                    {
                        "data": "kode_ver_id",
                        "render": function (data, type, row, meta) {
                            var idString = data.toString(); // konversi data ke dalam bentuk string
                            return '<button class="btn btn-outline-primary btn-vervar-id" data-id="' + idString + '"> Pilih </button>';
                        }
                    },

                ],

            })


        }


    </script>
{% endblock %}






